html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #c83c3c !important;
}
.el-pagination.is-background .el-pager li:hover{
    color: #c83c3c !important;
}

.el-drawer {
    background-color: #212221;
}
