html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #1181b2 !important;
}
.el-pagination.is-background .el-pager li:hover{
    color: #1181b2 !important;
}